.model {
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
    width: 275px;
    margin-bottom: 20px;
    margin-top: 0;
}
.what {
    font-size: 20px;
    font-weight: normal;
    text-align: left;
    margin-right: 0;
    margin-top: 0;
}
.last {
    font-size: 20px;
    font-weight: normal;
    text-decoration: underline;
    margin-right: 0;
    margin-left: 0;
}