#text {
  margin: 125px 0 185px 185px;
}
#title {
  color: rgb(6, 114, 255);
  font-size: 60px;
  font-weight: 920;
  padding-top: 10px;
  margin-bottom: 6px;
}
#description {
  font-size: 27px;
  width: 500px;
  margin: 0;
  padding: 0;
}